a {
	text-decoration:none;
}

.fancy {
	font-family: 'Petrona', serif;
}

.warning {
	color:red;
}

.compact {
	padding:0;
	margin:0;
}

.clear {
	clear:both;
}

input[readonly] { background: #E0E0E0; color: #666; }

h1#title {
	font-size:3em;
	margin-bottom:15px;
}

p.tagline {
	font-size:1.3em;
	margin-top:50px;
	text-align:center;
}

#main {
	margin-top:-20px;
}

h1#class {
	margin-bottom:15px;
}

#add_button {
	margin-top:30px;
}

.ui-btn, .ui-radio .ui-btn {
	text-align:center;
}

label.assign_type {
	width: 135px;
}

.no_margin {
	margin:0;
}

.ratings {
	margin: 0;
}

.ratings p {
	position:relative;
	margin-left:100px;
}

.comment strong {
	color:#3D71A3;
}