<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Classzy</title>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
	<meta name = "viewport" content = "initial-scale = 1.0">
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	    <script type="text/javascript">
	      google.load("visualization", "1", {packages:["corechart"]});
	      google.setOnLoadCallback(drawChart);
	      function drawChart() {
	        var data = new google.visualization.DataTable();
	        data.addColumn('string', 'Year');
	        data.addColumn('number', 'Sales');
	        data.addColumn('number', 'Expenses');
	        data.addRows(4);
	        data.setValue(0, 0, '2004');
	        data.setValue(0, 1, 1000);
	        data.setValue(0, 2, 400);
	        data.setValue(1, 0, '2005');
	        data.setValue(1, 1, 1170);
	        data.setValue(1, 2, 460);
	        data.setValue(2, 0, '2006');
	        data.setValue(2, 1, 660);
	        data.setValue(2, 2, 1120);
	        data.setValue(3, 0, '2007');
	        data.setValue(3, 1, 1030);
	        data.setValue(3, 2, 540);

	        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
	        chart.draw(data, {width: 400, height: 240, title: 'Company Performance',
	                          hAxis: {title: 'Year', titleTextStyle: {color: 'red'}}
	                         });
	      }
	    </script>
	<style type="text/css">
		body {text-align:center;}
	</style>
</head>
<body>

	<div class="row">
		
		<div class="span5">
			<div class="row">
				<div class="span1">
					<a href="/profile"><strong>Classzy</strong></a>
				</div>
			
				<div class="span1 offset3">
					<strong>Logout</strong>
				</div>
			</div>
			
			<h1>CS 107</h1>
			
			<h3>How long did your assignment take?</h3>
			<a href="/add" class="btn large primary" style="width:200px;">Add log</a>
			
			<div id="chart_div"></div>
		</div>

	</div>

</body>
</html>