{% extends "base.html" %}

{% block content %}

	<div data-role="page" id="login">

		{% if not classzy %}
			<div data-role="content" id="home">
			
				<h1 id="title" class="fancy">Classzy</h1>
			
				{% if warning %}
					<p class="warning">{{warning}}</p>
				{% endif %}
			
				<form action="/" method="post">{% csrf_token %}
					<div data-role="fieldcontain" style="margin-top:-20px">
						<input type="search" name="class" value="" />
					</div>
				</form>
				<p>Examples: CS 106A, CS 107, Math 51...</p>
				<p class="fancy tagline">The info you <em>want</em> to know about your classes</p>
		
			</div>
		{% endif %}
		
		{% if classzy %}
			<div data-role="content" id="class">
		
				<h1 id="class" class="fancy">{{classzy.code}} - {{classzy.name}}</h1>
			
				<form action="/" method="post">{% csrf_token %}
					<div data-role="fieldcontain" style="margin-top:-20px">
						<input type="search" name="class" value="" />
					</div>
				</form>
				<p>Examples: CS 106A, CS 107, Math 51...</p>
				<p class="fancy tagline">The info you <em>want</em> to know about your classes</p>
	
			</div>
		{% endif %}
		
	</div>
	
{% endblock %}