{% extends "jqm/simple.html" %}
{% block title %}Welcome to Classzy{% endblock %}
{% block content %}
{% if user.is_anonymous %}
	<form action="/" method="post">{% csrf_token %}
		<div class="clearfix">
			<label for="username" style="font-size:1.3em;">Username</label><br/>
			<input type="text" name="username" value="" id="username" autofocus>
		</div>
		<div class="clearfix">
			<label for="password" style="font-size:1.3em;">Password</label><br/>
			<input type="password" name="password" value="" id="password">
		</div><br/>
		<div class="clearfix">
			<a data-role="button"href="profile">Login</a>
			<input type="hidden" name="next" value="" />
		</div>	
	</form>
	<a data-role="button" href="/create">Create an Account</a>
{% else %}
    <p>Contratulations on logging in, we love visitors, but we currently have nothing to show you!</p>
{% endif %}
{% endblock %}