{% extends "base.html" %}

{% block content %}

	{% if not classzy and not adding_warning %}
	
		<div data-role="page" id="search">

			<div data-role="content">
			
				<h1 id="title" class="fancy">Classzy</h1>
			
				{% if warning %}
					<p class="warning">{{warning}}</p>
				{% endif %}
			
				<form action="/" method="post">{% csrf_token %}
					<div data-role="fieldcontain" style="margin-top:-20px">
						<input type="search" name="class" value="" />
					</div>
				</form>
				
				{% if not warning %}
					<p>Examples: CS 106A, CS 107, CS 147</p>
				{% else %}
					<p>Missing Class? <a href="#add_class">Add it</a></p>
				{% endif %}
					
				<p class="fancy tagline">The info you <em>want</em> to know about your classes</p>
		
			</div>
		</div>
	{% endif %}
	
	{% if classzy %}
		<div data-role="page" id="class">
			
			<div data-role="header">
				<a href="#search" data-direction="reverse">Search</a>
				<h1 class="ui-title">{{classzy.code}}</h1>
			</div>
					
			<div data-role="content">
		
				<h1 id="class" class="fancy">{{classzy.code}}{% if classzy.name %} - {{classzy.name}}{% endif %}</h1>
	
			</div>
		</div>
	{% endif %}
		
	<div data-role="page" id="add_class">
		
		<div data-role="header">
			<a data-rel="back">Back</a>
			<h1 class="ui-title">Add Class</h1>
		</div>
		
		<div data-role="content">
			
			{% if adding_warning %}
				<p class="warning">{{adding_warning}}</p>
			{% endif %}
			
			<form action="/" method="post">{% csrf_token %}
				<div data-role="fieldcontain">
					<label for="class_code">Class Code</label>
					<input type="text" name="class_code" value="" id="class_code"/>
					
					<button type="submit" data-theme="b" class="ui-btn-hidden" aria-disabled="false">Add Class</button>
				</div>
			</form>

		</div>
	</div>
	

	
{% endblock %}