<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Classzy</title>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
	<meta name = "viewport" content = "initial-scale = 1.0">
</head>
<body>

	<div class="row">
		
		<div class="span5">
			<div class="row">
				<div class="span1">
					<strong>Classzy</strong>
				</div>
			
				<div class="span1 offset3">
					<strong>Logout</strong>
				</div>
			</div>
			
			<h1>Classes</h1>
			<table class="zebra-striped">
			    <tr>
			        <td>CS 107</td>
			    </tr>
			    <tr>
			        <td>CS 147</td>
			    </tr>
			    <tr>
			        <td>CS 145</td>
			    </tr>
			    <tr>
			        <td>CS 108</td>
			    </tr>
			</table>
			
			<h1>Add Class</h1>
			<input type="text" name="" value="" /><br/><br/>
			
			<h1>Total HW Hours</h1>
			<p>12,031 hours logged</p>
		</div>

	</div>

</body>
</html>