{% extends "base.html" %}

{% block content %}

	<div data-role="page" id="profile">
		
		<div data-role="header">
			<h1 class="ui-title">Classzy</h1>
		</div>
		
		<div data-role="content">
			<h1>Classes</h1>
			<div data-role="collapsible" data-collapsed="true">
				<h1>CS 107</h1>
				<h3>Assignment 1</h3>
				<p>Avg Hours - 18</p>
			</div>
		
			<div data-role="collapsible" data-collapsed="true">
		    	<h1>CS 147</h1>
				<h3>Assignment 1</h3>
				<p>Avg Hours - 18</p>
			</div>
	
			<div data-role="collapsible" data-collapsed="true">
				<h1>CS 145</h1>
				<h3>Assignment 1</h3>
				<p>Avg Hours - 18</p>
			</div>
		
			<div data-role="collapsible" data-collapsed="true">
				<h1>CS 108</h1>
				<h3>Assignment 1</h3>
				<p>Avg Hours - 18</p>
			</div>
			
			<h1>Add Class</h1>
			<input type="text" name="" value="" />
		</div>

	</div>

{% endblock %}